<div class="container">
  <div class="calc">
    <div class="title-calc">
      <h3>Calculadora</h3>
    </div>
    <div class="operations">
      <div class="prev-calc">{{ previousValue }} {{ operation }}</div>
      <div class="atual-calc">{{ currentValue }}</div>
    </div>
    <div class="btn-container">
      <button (click)="clearEntry()">CE</button>
      <button (click)="clearAll()">C</button>
      <button (click)="percentage()">%</button>
      <button (click)="divide()">/</button>
      <button class="number" (click)="inputNumber('7')">7</button>
      <button class="number" (click)="inputNumber('8')">8</button>
      <button class="number" (click)="inputNumber('9')">9</button>
      <button (click)="multiply()">*</button>
      <button class="number" (click)="inputNumber('4')">4</button>
      <button class="number" (click)="inputNumber('5')">5</button>
      <button class="number" (click)="inputNumber('6')">6</button>
      <button (click)="subtract()">-</button>
      <button class="number" (click)="inputNumber('1')">1</button>
      <button class="number" (click)="inputNumber('2')">2</button>
      <button class="number" (click)="inputNumber('3')">3</button>
      <button (click)="add()">+</button>
      <button class="number" (click)="inputNumber('0')">0</button>
      <button class="equal" (click)="toggleSign()">+/-</button>
      <button class="number" (click)="inputDecimal()">.</button>
      <button class="equal" (click)="calcResult()">=</button>
    </div>
  </div>
</div>
