<div class="container">
  <div class="calc">
    <div class="title-calc">
      <h3>Calculadora</h3>
    </div>

    <div class="display-container">
      <!-- Visor que mostra o número e o resultado -->
      <div class="display">{{ display || '0' }}</div>
    </div>
    
    <div class="btn-container">
      <!-- Botões de limpar -->
      <button (click)="limparEntrada()">CE</button>
      <button (click)="limpar()">C</button>
      <button (click)="calcularPercentual()">%</button>
      <button (click)="escolherOperador('/')">/</button>
    
      <!-- Botões de números -->
      <button class="number" (click)="adicionarNumero('7')">7</button>
      <button class="number" (click)="adicionarNumero('8')">8</button>
      <button class="number" (click)="adicionarNumero('9')">9</button>
      <button (click)="escolherOperador('*')">*</button>
    
      <button class="number" (click)="adicionarNumero('4')">4</button>
      <button class="number" (click)="adicionarNumero('5')">5</button>
      <button class="number" (click)="adicionarNumero('6')">6</button>
      <button (click)="escolherOperador('-')">-</button>
    
      <button class="number" (click)="adicionarNumero('1')">1</button>
      <button class="number" (click)="adicionarNumero('2')">2</button>
      <button class="number" (click)="adicionarNumero('3')">3</button>
      <button (click)="escolherOperador('+')">+</button>
    
      <button class="number" (click)="adicionarNumero('0')">0</button>
      <button class="equal" (click)="inverterSinal()">+/-</button>
      <button class="number" (click)="adicionarNumero('.')">.</button>
      <button class="equal" (click)="calcular()">=</button>
    </div>    
    
  </div>
</div>
